<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.base.dao.JokeUserMapper">
  <resultMap id="BaseResultMap" type="com.shop.base.entity.JokeUserModel">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
    <result column="user_avatar_url" jdbcType="VARCHAR" property="userAvatarUrl" />
    <result column="user_city" jdbcType="VARCHAR" property="userCity" />
    <result column="user_country" jdbcType="VARCHAR" property="userCountry" />
    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
    <result column="user_province" jdbcType="VARCHAR" property="userProvince" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_code, user_name, regist_time, user_avatar_url, user_city, user_country, 
    user_gender, user_province
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_joke_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_joke_user
    where user_code = #{userCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_joke_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.base.entity.JokeUserModel">
    insert into tbl_joke_user (user_id, user_code, user_name, 
      regist_time, user_avatar_url, user_city, 
      user_country, user_gender, user_province
      )
    values (#{userId,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{registTime,jdbcType=TIMESTAMP}, #{userAvatarUrl,jdbcType=VARCHAR}, #{userCity,jdbcType=VARCHAR}, 
      #{userCountry,jdbcType=VARCHAR}, #{userGender,jdbcType=VARCHAR}, #{userProvince,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.base.entity.JokeUserModel">
    insert into tbl_joke_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="registTime != null">
        regist_time,
      </if>
      <if test="userAvatarUrl != null">
        user_avatar_url,
      </if>
      <if test="userCity != null">
        user_city,
      </if>
      <if test="userCountry != null">
        user_country,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userProvince != null">
        user_province,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAvatarUrl != null">
        #{userAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null">
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userCountry != null">
        #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null">
        #{userProvince,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.base.entity.JokeUserModel">
    update tbl_joke_user
    <set>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        regist_time = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAvatarUrl != null">
        user_avatar_url = #{userAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null">
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userCountry != null">
        user_country = #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null">
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.base.entity.JokeUserModel">
    update tbl_joke_user
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      user_avatar_url = #{userAvatarUrl,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      user_country = #{userCountry,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=VARCHAR},
      user_province = #{userProvince,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>